
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* share style */
.container{
    width: 83%;
    max-width: 1320px;
     margin: 0 auto; 
     


/* 1st section */

.new-year{
    background-image: url('../resources/Banner\ Image.png');
    height: 100vh;
    background-repeat: no-repeat;
    margin-top: 50px;
}
.container-text{
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.container-title{
    text-align: center;
    padding: 177px;
    color: #FFF;
    font-family: Merriweather;
}
.container-title h5{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.container-title h2{
    margin-top: 0;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* section 2 style */

.section2-title{
    text-align: center;
    margin-top: 120px;
}

.section2-title h1{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.section2-title p{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 16px;
}
.section2-title h3{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 48px;
}
.new-year-photo{
    width: 802.9px;
    height: 500px;
    margin: 0 auto;
}


